:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	--dark-color: #17252a;
	--tertiary-color: #2b787a;
	--tertiary-light-color: #2b787a99;
	--primary-color: #3aafa9;
	--secondary-color: #def2f1;
	--light-color: #feffff;
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	width: 450px;
	height: 500px;
	border: 1px solid var(--dark-color);
	background: var(--primary-color);
}

a {
	text-decoration: inherit;
}

button {
	border: none;
	cursor: pointer;
}

#root {
	width: 100%;
	height: 100%;
}

.primary-btn {
	padding: 0.8rem 1rem;
	background: var(--dark-color);
	color: var(--secondary-color);
	border-radius: 40px;
	font-weight: 600;
}

@keyframes rotate {
	100% {
		transform: rotate(360deg);
	}
}
